

body {
	font-size: 14px;
	color: #333333;
	background-color: #eeeeee;
}
#header {
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.sticky-container {
	overflow: hidden;
	position: relative;
}

.toc-container {
	background-color: #e9e9e9;
	display: inline-block;
	padding: 20px 30px 20px 20px;
	border: 1px solid #cccccc;
	margin-bottom: 32px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	right: 0;
}

.toc {
	list-style-type: circle;
	padding: 0;
	margin-bottom: 0;
	margin-left: 16px;
}

.instructions {
	margin: 0 0 100px;
}

.instructions li {
	margin-bottom: 20px;
}

.instruction-image img {
	max-height: 100px;
	max-width: 50%;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin: 10px
}

strong, b {
	color: #000000;
}